/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* CSS Styles 👇 */
:root {
  --Light-red-CTA-text: hsl(356, 100%, 66%);
  --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
  --Very-dark-blue-headings: hsl(208, 49%, 24%);
  --White-text: hsl(0, 0%, 100%);
  --Grayish-blue-footer-text: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue-body- copy: hsl(207, 13%, 34%);
  --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);
  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}
* {
  font-family: "Overpass", sans-serif;
}
body {
 font-size: 1rem;
}
.first {
  background-image: url('bg-pattern-intro-mobile.svg'), linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px 40px;
}

.design {
  display: flex; 
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
} 
.mobile {
  background-image: url('illustration-phones.svg');
  background-size: contain;

  background-repeat: no-repeat;

  height: 600px;
}
.Art {
  background: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
}
.computer {
  background-image: url('illustration-editor-mobile.svg');
  background-size: contain; 
  background-repeat: no-repeat; 
  height: 600px;
}
.third {
  background-color: var(--White);
}
#mobile {
  display: none;
}
.navbar {
  display: flex;
  flex-direction: column;
}
.active {
  display: block;
}
footer {
  color: var(--Grayish-blue-footer-text);
  background-color: var(--Very-dark-black-blue-footer-background);
}
.fourth {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 37.5rem) {
  #mobile {
    display: block;
  }
  .fourth {
    flex-direction: row;
    justify-content: space-between
  }
  .navbar {
    flex-direction: row;
  }
  .design {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .hamburg {
    display: none;
  }

 .first {
  background-image: url('bg-pattern-intro-desktop.svg') linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%)); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
